<!-- home.html -->
{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>AI Assistant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header-container">
            <div class="header-title">AI Assistant</div>
            <img src="{{ url_for('static', filename='robot.png') }}" alt="Robot" class="robot-img">
        </div>
        <div>
            {{ message|safe }}
        </div>
        <br>
        <form method="POST">
            <label for="question"><h3>How can I help you, in regards to AI?</h3></label>
            <br>
            <textarea id="question" name="question" rows="5" cols="40"></textarea><br>
            <input class="subm_btn" type="submit" value="Submit">
        </form>
        
    {% endblock %}